*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
  object-fit: cover;
  width: 25rem;
  height: 18em;
  padding: 1rem
}

p {
  padding: 1rem;
}

.card {
  max-width: 800px;
}

h1 {
  padding: 1rem;
}
